body {
    margin: 0;
    padding: 0;
}

.products {
    display: flex;
    justify-content: space-evenly
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title {
    text-transform: uppercase;
}

.price {
    text-transform: lowercase;
}

.product-image {
    width: 200px;
}

.users {
    display: flex;
    justify-content: space-evenly;
}

.userkey {
    display: flex;
    flex-direction: column;
}

.userkey ul {
    margin-top: 0;
}