body {
    margin: 0;
    padding: 0;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title {
    text-transform: uppercase;
}

.price {
    text-transform: lowercase;
}

.product-image {
    width: 200px;
}