body {
    margin: 0;
    padding: 0;
}

.form {
    background-color: cornsilk;
    border: 1px solid gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

label {
    width: 20%;
    margin: 5px;
}

button {
    height: 40px;
    width: 12%;
    margin: 10px;
}

input {
    margin-top: 10px;
}

.table {
    margin: 10px;
    border-collapse: collapse;
    border: 1px solid black;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    background-color: beige;
}

.column {
    padding: 5px;
    border: 1px solid black;
}
