body {
    margin: 0;
    padding: 0;
}

.block, .member {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.block {
    background-color: azure;
}

.member {
    width: 50%;
}

img {
    height: 30%;
    width: 30%;
}



